* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar {
    border: 1px solid black;
    padding: 16px;
    background-color: gray;
    height: 60px;
}

.logo {
    align-items: center;
    float: left;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

li {
    display: inline-block;
    float: right;
    margin-right: 25px;
    justify-content: space-evenly;
}